################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VISMA.TestTask.Solution/.vs/VISMA.TestTask.Solution
/VISMA.TestTask.Solution/VISMA.TestTask.Core/bin/Debug
/VISMA.TestTask.Solution/VISMA.TestTask.Core/obj/Debug
/VISMA.TestTask.Solution/VISMA.TestTask.Data/bin/Debug
/VISMA.TestTask.Solution/VISMA.TestTask.Data/obj/Debug
/VISMA.TestTask.Solution/VISMA.TestTask.Web/bin
/VISMA.TestTask.Solution/VISMA.TestTask.Web/obj/Debug
/VISMA.TestTask.Solution/VISMA.TestTask.Tests/bin/Debug
/VISMA.TestTask.Solution/VISMA.TestTask.Tests/obj/Debug
/VISMA.TestTask.Solution/VISMA.TestTask.Data/obj/Release
/VISMA.TestTask.Solution/VISMA.TestTask.Core/bin/Release
/VISMA.TestTask.Solution/VISMA.TestTask.Core/obj/Release
/VISMA.TestTask.Solution/VISMA.TestTask.Data/bin/Release
/VISMA.TestTask.Solution/VISMA.TestTask.Tests/bin/Release
/VISMA.TestTask.Solution/VISMA.TestTask.Tests/obj/Release
/VISMA.TestTask.Solution/VISMA.TestTask.Web/obj/Release
